.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.leafMe {
  font-weight: bolder;
  font-size: 100px;
}

.blurb {
  font-weight: 500;
  font-size: 25px;
}

.learnMore {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  color: #202833;
  text-decoration: none;
  transition: 0.3s;
  padding-bottom: 125px;
}

.learnMore:hover {
  font-weight: bold;
  color: #6e7a8a
}