.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleText {
  font-weight: bold;
  font-size: 45px;
  color: #202833;
  padding-bottom: 40px;
}

.captionText {
  padding-top: 15px;
  color: #6e7a8a;
  font-size: 18px;
}