.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 25px 250px 100px; /*top, right/left, bottom*/
}

.featureImage {
  width: 25%;
}

.contentText {
  color: #6e7a8a;
  font-size: 20px;
}

.titleText {
  font-weight: bold;
  font-size: 40px;
  color: #202833;
  padding-bottom: 15px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 25px 80px 0px; /*top, right/left, bottom*/
}