
/* Container around content */
.container {
  position: relative;
  background-color: inherit;
  width: 20%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 4px solid grey;
  margin-left: 217%;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 20%;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  position: relative;
  border-radius: 6px;
}

.beside {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}